<h2><%= @headline.title %></h2>
<h3><%= @headline.author %></h3>
<p><%= @headline.description %></p>

<%= link_to "Back", root_path, class: "btn btn-custom" %>

<% if user_signed_in? %>
<% if @headline.user_id == current_user.id %>
<%= link_to "Edit", edit_headline_path(@headline), class: "btn btn-custom" %>
<%= link_to "Delete", headline_path(@headline), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom" %>
<% end %>
<% end %>